{% extends "base.html" %}
{% block title%} User{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p> {{msg}} </p>
            {% endfor%}
        {% endif %}
    {% endwith %}
{% if user %}
    <p>Welcome to the arena, {{user}}</p>
{% else %}
    <form action="#" method="POST">
        <input type="text" name="player_name" placeholder="Player Name" value="{{player_name if player_name}}" />
        <input type="submit" value="submit" />
    </form>
{% endif %}
{% endblock %}